{{py:
menu_title = "HIPS"
jscript_functions = None
}}
{{def jscript_openlayers}}
<script type="text/javascript" src="https://aladin.cds.unistra.fr/AladinLite/api/v3/latest/aladin.js" charset="utf-8"></script>
<div id="aladin-lite-div" style="width:70vw;height:70vh;"></div>
<script type="text/javascript">
    var aladin;
    A.init.then(() => {
        aladin = A.aladin('#aladin-lite-div');
        aladin.setImageSurvey(
            aladin.createImageSurvey('test', 'test',
            '{{hips_url}}', '{{hips_frame}}', {{hips_order_max}}, {imgFormat: '{{hips_tile_format}}'}));
    });
</script>
{{enddef}}
<h2>HIPS: AladinLite client on layer {{hips_layer}}</h2>
{{allsky_msg}}


